            * {
                margin: 0px;
                padding: 0px;
            }
            
          
            
            #container {
                width: 975px;
                height: 760px;
                background: rgb(30, 60, 124);
                display: inline-block;
                vertical-align: top;
            }
            
            #header {
                height: 120px;
                margin: 10px;
                border-radius: 15px;
                background-color: red;
                display: block;
            }
            .titulo {
                font-size: 50px;
                font-style: italic;
                color: white;
                padding-top: 40px;
                margin-left: 30px;
            }
            
            #main_content {
                width: 975px;
                vertical-align: top;
                margin-top: 20px;
                display: inline-block;
            }
            
            #nav {
                width: 200px;
                height: 300px;
                background-color: rgb(0, 197, 197);
                border-radius: 15px;
                display: inline-block;
                margin-left: 10px;
                vertical-align: top;
                margin-right: 30px;
            }
            
            #content {
                width: 720px;
                height: 500px;
                background: rgb(27, 29, 56);
                display: inline-block;
                vertical-align: top;
                border-radius: 15px;
                margin-right: 10px;
            }
            
            #footer {
                height: 60px;
                margin-top: 30px;
                border-radius: 15px;
                background-color: rgb(70, 70, 70);
                margin-left: 10px;
                margin-right: 10px;
            }
            /*MENU*/
            
            #navegacion {
                margin-top: 60px;
                margin-left: 60px;
            }
            
            #menu {
                font-family: Arial, Helvetica, sans-serif;
                color: white;
            }
            
            .sub {
                margin-left:20px;
            }
            
            .title {
                font-size: 20px;
                margin-bottom: 15px;
            }