            * {
                margin: 0px;
                padding: 0px;
            }
            
            #container {
                width: 975px;
                height: 850px;
                background: #1b335d;
                display: inline-block;
                vertical-align: top;
            }
            
            #header {
                height: 120px;
                margin: 10px;
                border-radius: 15px;
                background-color: #cf3037;
                display: block;
            }
            
            .titulo {
                font-size: 50px;
                color: #5acee1;
                padding-top: 40px;
                margin-left: 30px;
            }
            
            #main_content {
                width: 975px;
                vertical-align: top;
                margin-top: 10px;
                display: inline-block;
            }
            
            #nav {
                width: 220px;
                height: 300px;
                background-color: #297d8c;
                border-radius: 15px;
                display: inline-block;
                margin-left: 10px;
                vertical-align: top;
                margin-right: 10px;
            }
            
            #content {
                width: 720px;
                height: 550px;
                background: #0e1822;
                display: inline-block;
                vertical-align: top;
                border-radius: 15px;
                margin-right: 10px;
            }
            
            #footer {
                height: 60px;
                margin-top: 30px;
                border-radius: 15px;
                background-color: rgb(70, 70, 70);
                margin-left: 10px;
                margin-right: 10px;
            }
            /*MENU*/
            
            #navegacion {
                padding: 20px;
                margin-left: 10px;
            }
            
            .menu {
                font-family: Arial, Helvetica, sans-serif;
                color: #5acee1;
            }
            
            .sub {
                margin-left: 20px;
                text-size-adjust: 10px;
                color: white;
            }
            
            .title {
                font-size: 20px;
                margin-bottom: 15px;
            }
            
            .text {
                color: #bbd0e7;
                padding: 10px;
            }
            
            span {
                color: #6c29eb;
            }
            
            .footer {
                padding-top: 20px;
            }
            
            a {
                color: #5accd5;
            }
            
             ::marker {
                color: white;
            }